.copy1 {
  background-position: 0 0;
  width: 728px;
  height: 90px;
}
.copy1,
.copy2,
.copy3 {
  background-image: url(assets/sprites.png);
  background-size: 728px 630px;
}
.copy2 {
  width: 728px;
  height: 90px;
  background-position: 0 -90px;
}
.copy3 {
  background-position: 0 -180px;
}
.copy3,
.cta,
.parts-final {
  width: 728px;
  height: 90px;
}
.cta {
  background-image: url(assets/sprites.png);
  background-size: 728px 630px;
  background-position: 0 -270px;
}
.parts-final {
  background-position: 0 -360px;
}
.parts,
.parts-final,
.region {
  background-image: url(assets/sprites.png);
  background-size: 728px 630px;
}
.parts {
  width: 728px;
  height: 90px;
  background-position: 0 -450px;
}
.region {
  background-position: 0 -540px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
#ad,
#legal-overlay,
.region {
  width: 728px;
  height: 90px;
}
#ad,
.ad-element {
  position: absolute;
}
#ad {
  display: block;
  border: 1px solid #000;
  overflow: hidden;
  left: 0;
  top: 0;
  cursor: pointer;
}
.ad-element {
  background-repeat: no-repeat;
}
.retina-image {
  display: inline-block;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.retina-image img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
#legal-overlay {
  box-sizing: border-box;
  background-color: #fff;
  color: #505457;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 300;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
}
#legal-overlay > div:first-of-type {
  overflow-y: auto;
  pointer-events: none;
  width: 696px;
  height: 58px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#legal-overlay sup,
sup {
  line-height: 0.25em;
  font-size: 0.7em;
}
#close {
  display: block;
  background-color: #000;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}
#close span:first-of-type,
#close span:last-of-type {
  position: absolute;
  display: block;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 9px;
  height: 1px;
  left: 1px;
  top: 5px;
}
#close span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#background1,
#banner {
  width: 728px;
  height: 90px;
}
#banner {
  position: absolute;
  overflow: hidden;
  background-color: #ccc;
  visibility: hidden;
  left: -1px;
  top: -1px;
}
#background1 {
  background-image: url(assets/img/background1.jpg);
  background-size: 100%;
}
#background2 {
  background-image: url(assets/img/background2.jpg);
  background-size: 100%;
}
#background2,
#frame2 {
  width: 728px;
  height: 90px;
}
#legal {
  cursor: pointer;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
}
