* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
}

header h1 {
  font-size: 35px;
  text-align: center;
  letter-spacing: -1px;
  color: #333;
}

header p {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #888;
}

footer {
  padding: 30px 20px;
  margin-top: auto;
  background: #fff;
}

footer p {
  text-align: center;
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #aaa;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 20px 80px;
}

.region {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
  position: relative;
}

.region + .region {
  margin-top: 150px;
}

.region h2 {
  margin-bottom: 10px;
  font-size: 33px;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.region h2::before,
.region h2::after {
  content: '';
  background-color: #d1d1d1;
  width: 350px;
  height: 1px;
  position: absolute;
  top: 50%;
}

.region h2::before {
  right: 120%;
}

.region h2::after {
  left: 120%;
}

.part h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
  border-radius: 8px;
  padding: 20px 35px;
  background: #fefefe;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.box:hover {
  margin: -3px;
  padding: 23px 38px;
}

dt {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

dd + dt {
  margin-top: 20px;
}

dd {
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }
  .container {
    padding-top: 70px;
  }
  .region {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box {
    padding: 20px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin: 0;
  }
  .region {
    grid-template-columns: 1fr 1fr;
  }
  .box {
    padding: 20px 15px;
  }
  .box:hover {
    padding: 25px 20px;
  }
  dt {
    font-size: 18px;
  }
  dd {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .region {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
