* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 600px;
  border: 1px solid #000;
  background: #f4f4f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.frame {
  width: 300px;
  height: 600px;
}

.logo {
  width: 140px;
  height: 27px;
  right: 23px;
  top: 22px;
}

/* ----- FRAME ----- */
.overlay {
  width: 252px;
  height: 510px;
  top: 65px;
  left: 23px;
  padding: 4px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0f8b3f, #63ca02);
  animation: gradient 2s infinite;
  overflow: hidden;
  position: relative;
}

.overlay::before {
  content: '';
  height: 300%;
  box-shadow: 0px 0px 30px 30px rgb(255 255 255 / 90%);
  transform: rotate(45deg);
  animation: shadow 2s 0.6;
  animation-delay: 1.4s;
  top: -150%;
  left: -100px;
  position: absolute;
}

.textbox {
  background: #f4f4f7;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  overflow: hidden;
}

.gradient-mask {
  left: 300px;
  background: linear-gradient(90deg, rgba(244, 244, 247, 0) 0, #f4f4f7 50%);
  width: 600px;
  height: 100%;
  z-index: 20;
}

.leaf {
  width: 222px;
  bottom: 0;
  right: -10px;
  z-index: 999;
}

@keyframes shadow {
  0% {
    transform: rotate(45deg) translateX(0);
  }
  100% {
    transform: rotate(45deg) translateX(700px);
  }
}

/* ----- CTA Button ----- */
.cta {
  display: none;
  opacity: 0;
  position: inherit !important;
}

.cta-bg {
  width: 73px;
  height: 20px;
  bottom: 42px;
  left: 45px;
  border-radius: 15px;
  background: #248700;
  border: 1px solid #248700;
  transition: background 0.3s ease-in-out;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta-bg {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
