/* SCSS variables are information about icon's compiled state, stored under its original file
name .icon-home { width: $icon-home-width; } The large array-like variables contain all information about a single icon $icon-home:
x y offset_x offset_y width height total_width total_height image_path; At the bottom of this section, we provide information
about the spritesheet itself $spritesheet: width height image $spritesheet-sprites; */
/* The provided mixins are intended to be used with the array-like variables .icon-home { @include sprite-width($icon-home);
} .icon-email { @include sprite($icon-email); } */
.copy1 {
  background-image: url(assets/spritesheets/copy.png);
  background-position: 0px 0px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

.copy2 {
  background-image: url(assets/spritesheets/copy.png);
  background-position: -300px 0px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

.cta {
  background-image: url(assets/spritesheets/copy.png);
  background-position: 0px -250px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

.fog {
  background-image: url(assets/spritesheets/copy.png);
  background-position: -300px -250px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

.ittt {
  background-image: url(assets/spritesheets/copy.png);
  background-position: -600px 0px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

.logo {
  background-image: url(assets/spritesheets/copy.png);
  background-position: -600px -250px;
  width: 300px;
  height: 250px;
  background-size: 900px 500px; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0; }

#ad {
  display: block;
  border: 1px solid black;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 300px;
  height: 250px; }

.ad-element {
  position: absolute !important;
  background-repeat: no-repeat; }

.retina-image {
  display: inline-block;
  pointer-events: none;
  width: 100%;
  height: 100%; }
  .retina-image img {
    width: 100%;
    height: auto;
    pointer-events: none; }

#banner {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 250px;
  background-color: #ccc;
  visibility: hidden;
  left: -1px;
  top: -1px; }

#background {
  background-image: url("assets/background.jpg");
  background-size: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 300px;
  height: 250px; }

.fog {
  -webkit-transform-origin: left top;
          transform-origin: left top; }
