* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
  background: #f4f4f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.frame {
  width: 728px;
  height: 90px;
}

.logo {
  width: 122px;
  height: 24px;
  right: 16px;
  top: 10px;
}

/* ----- FRAME ----- */
.overlay {
  width: 555px;
  height: 60px;
  top: 15px;
  left: 14px;
  padding: 4px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0f8b3f, #63ca02);
  animation: gradient 2s infinite;
  overflow: hidden;
  position: relative;
}

.overlay::before {
  content: '';
  height: 700%;
  box-shadow: 0px 0px 30px 30px rgb(255 255 255 / 90%);
  transform: rotate(50deg);
  animation: shadow 3s 0.6;
  animation-delay: 0.8s;
  top: -500px;
  left: -30px;
  position: absolute;
}

.textbox {
  background: #f4f4f7;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  overflow: hidden;
}

.leaf {
  width: 95px;
  bottom: -3px;
  right: 255px;
  z-index: 999;
}

@keyframes shadow {
  0% {
    transform: rotate(50deg) translateX(0);
  }
  100% {
    transform: rotate(50deg) translateX(1000px);
  }
}

/* ----- CTA Button ----- */
.cta {
  opacity: 0;
  position: inherit !important;
}

.cta-bg {
  width: 73px;
  height: 20px;
  bottom: 13px;
  right: 17px;
  border-radius: 15px;
  background: #248700;
  border: 1px solid #248700;
  transition: background 0.3s ease-in-out;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta-bg {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
