* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 250px;
  position: relative;
  border: 1px solid #000;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

.svg,
.img,
.frame {
  position: absolute;
}

.svg {
  width: 300px;
  height: 250px;
}

/* ----- FRAME ----- */
.frame1 {
  background-image: url(assets/background1.png);
}

.frame2 {
  background-image: url(assets/background2.png);
}

.frame3 {
  background-color: #f4f4f7;
}

.frame1 .img,
.frame3 .img,
.cta-bg {
  left: 50%;
  transform: translateX(-50%);
}

.frame1 .img {
  width: 150px;
  height: 145px;
  bottom: -3px;
}

.frame2 .img {
  height: 110px;
  bottom: 20px;
  background-image: url(assets/sprites.png);
}

.frame2 .img1 {
  width: 65px;
  left: 20px;
  background-position: -3px -130px;
}

.frame2 .img2 {
  width: 160px;
  left: 60px;
  background-position: -70px -130px;
}

.frame2 .img3 {
  width: 90px;
  left: 195px;
  background-position: -232px -130px;
}

.frame3 .price {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.frame3 .img {
  width: 240px;
  height: 120px;
  bottom: 45px;
  background-position: 0 -250px;
  background-image: url(assets/sprites.png);
}

/* ----- LOGO ----- */
.logo {
  z-index: 10;
}

.logo-color {
  opacity: 0;
  z-index: 20;
}

/* ----- CTA Button ----- */
.cta {
  display: none;
  opacity: 0;
}

.cta-bg {
  top: 85%;
  width: 78px;
  height: 20px;
  border-radius: 10px;
  background: #468424;
  border: 1px solid #468424;
  transition: background 0.35s ease-in-out;
  position: absolute;
}

.cta-on,
.legal,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta-bg {
  background: #fff;
}
