.copy1 {
  background-image: url(assets/sprites.png);
  background-position: 0 0;
  background-size: 900px 500px;
}
.copy1,
.copy2,
.cta {
  width: 300px;
  height: 250px;
}
.copy2 {
  background-image: url(assets/sprites.png);
  background-size: 900px 500px;
  background-position: -300px 0;
}
.cta {
  background-position: 0 -250px;
}
.cta,
.parts-final,
.region {
  background-image: url(assets/sprites.png);
  background-size: 900px 500px;
}
.parts-final {
  width: 300px;
  height: 250px;
  background-position: -300px -250px;
}
.region {
  background-position: -600px 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
#ad,
#legal-overlay,
.region {
  width: 300px;
  height: 250px;
}
#ad,
.ad-element {
  position: absolute;
}
#ad {
  display: block;
  border: 1px solid #000;
  overflow: hidden;
  left: 0;
  top: 0;
  cursor: pointer;
}
.ad-element {
  background-repeat: no-repeat;
}
.retina-image {
  display: inline-block;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.retina-image img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
#legal-overlay {
  box-sizing: border-box;
  background-color: #fff;
  color: #505457;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 300;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
}
#legal-overlay > div:first-of-type {
  overflow-y: auto;
  width: 268px;
  height: 218px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#legal-overlay sup {
  line-height: 0.25em;
  font-size: 0.7em;
}
#close {
  display: block;
  background-color: #000;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}
#close::after,
#close::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 9px;
  height: 1px;
  left: 1px;
  top: 5px;
}
#close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#banner {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 250px;
  background-color: #ccc;
  visibility: hidden;
  left: -1px;
  top: -1px;
}
#background2,
#scene {
  background-size: 100%;
  width: 300px;
  height: 250px;
}
#scene {
  -webkit-transform-origin: center 33%;
  transform-origin: center 33%;
  background-image: url(assets/img/scene.jpg);
}
#background2 {
  background-image: url(assets/img/background2.jpg);
}
#legal {
  cursor: pointer;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
}
