* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 728px;
  height: 90px;
  position: relative;
  border: 1px solid #000;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg {
  width: 728px;
  height: 90px;
}

.img {
  height: 90px;
}

/* ----- FRAME ----- */
.frame1 {
  background-image: url(assets/background1.png);
}

.frame2 {
  background-image: url(assets/background2.png);
}

.frame3 {
  background-color: #f4f4f7;
}

.frame1 .img {
  left: 80px;
  top: 3px;
}

.frame2 .img1 {
  left: 10px;
}

.frame2 .img2 {
  left: 38px;
}

.frame2 .img3 {
  left: 130px;
}

.frame3 .img {
  left: 55px;
}

.txt {
  left: 10px;
}

/* ----- LOGO ----- */
.logo {
  width: 300px;
  height: 250px;
  z-index: 10;
  right: 0;
}

.logo-color {
  opacity: 0;
  z-index: 20;
}

/* ----- CTA Button ----- */
.cta {
  display: none;
  opacity: 0;
  position: inherit !important;
}

.cta-bg {
  width: 90px;
  height: 23px;
  bottom: 20px;
  right: 7px;
  border-radius: 10px;
  background: #468424;
  border: 1px solid #468424;
  transition: background 0.35s ease-in-out;
}

.cta-on,
.legal,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta-bg {
  background: #fff;
}
