* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  border: 1px solid #000;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 300px;
  height: 250px;
  position: relative;
}

#banner,
.legalOverlay,
img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 87px;
  height: auto;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.legalButton {
  width: 45px;
  height: auto;
  left: 7px;
  bottom: 4px;
  position: absolute;
}

.legalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #505457;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 300;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.legalOverlay p {
  margin: 0;
  padding: 15px;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #000;
  width: 12px;
  height: 12px;
}

#close span:first-of-type,
#close span:last-of-type {
  position: absolute;
  display: block;
  background-color: #fff;
  transform-origin: 50% 50%;
  width: 9px;
  height: 1px;
  left: 1px;
  top: 5px;
}

#close span:first-of-type {
  transform: rotate(45deg);
}

#close span:last-of-type {
  transform: rotate(-45deg);
}
