* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  overflow: hidden;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
  background-color: #6c827b;
  position: relative;
  cursor: pointer;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#banner * {
  position: absolute;
}

.ad-element {
  width: 728px;
  height: 90px;
}

.vehicle {
  width: 190px;
  height: auto;
  right: 158px;
  bottom: -12px;
}

.logo {
  width: 110px;
  height: auto;
  bottom: 30px;
  right: 8px;
}

#legal-btn {
  width: 22px;
  height: auto;
  left: 8px;
  top: 3px;
}

#legal-overlay {
  position: absolute;
  top: 0;
  background-color: #fff;
  color: #505457;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 300;
  opacity: 0;
}

#legal-overlay p {
  margin: 0;
  padding: 15px;
}

#close {
  position: absolute;
  top: 0;
  display: block;
  background-color: #000;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}

#close span:first-of-type,
#close span:last-of-type {
  position: absolute;
  display: block;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 9px;
  height: 1px;
  left: 1px;
  top: 5px;
}
#close span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
