* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 50px;
  border: 1px solid #000;
  background: linear-gradient(to right bottom, #522d6d 37%, #e50995 90%);
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.frame {
  width: 300px;
  height: 50px;
}

.logo {
  width: 240px;
  height: 200px;
  top: 8px;
  right: 0;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
