* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 320px;
  height: 50px;
  border: 1px solid #000;
  background: #f4f4f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.frame {
  width: 320px;
  height: 50px;
}

.logo {
  width: 74px;
  height: 15px;
  right: 9px;
  top: 7px;
}

/* ----- BACKGROUND ----- */
.splash.left {
  width: 75px;
  top: -28px;
  left: 140px;
  transform: rotate(-40deg);
}

.splash.right {
  width: 50px;
  bottom: -13px;
  right: 55px;
  transform: rotate(-30deg);
}

/* ----- FRAME ----- */
.overlay {
  width: 252px;
  height: 510px;
  top: 65px;
  left: 23px;
  padding: 4px;
  box-sizing: border-box;
  background: linear-gradient(90deg, #0f8b3f, #63ca02);
  animation: gradient 2s infinite;
  overflow: hidden;
  position: relative;
}

.overlay::before {
  content: '';
  height: 300%;
  box-shadow: 0px 0px 30px 30px rgb(255 255 255 / 90%);
  transform: rotate(45deg);
  animation: shadow 2s 0.6;
  animation-delay: 1.4s;
  top: -150%;
  left: -100px;
  position: absolute;
}

.textbox {
  background: #f4f4f7;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  overflow: hidden;
}

.leaf {
  width: 70px;
  bottom: -2px;
  right: 90px;
  z-index: 999;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
